<% content_for :title do %>Welcome!<% end %>
<% content_for :project_active do %>active<% end %>
<%= render "devise/devise_nav_bar" %>

<!-- <div class="container">
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
</br>
<% end %> -->


<div class="container">
  <%= render 'static_pages/project_text' %>
</div>
